#mainPopup {
    padding: 10px;
    height: 200px;
    width: 400px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
  font-size: 2em;
}

input {
  margin: auto;
  width: 50%;
  display: block;
}

li {
  list-style-type: none;
  margin: 10px;
}

li.active {
  background-color: #f6f6f6;
}
